<form action="linktodestination.html" method="POST or GET">
	Text Input: <input type="text" name="myTextInput"> <br><br>
	Password Input: <input type="password" name="userPassword"><br>
	Radio Buttons:<br>
		<input type="radio" name="answer" value="YES" checked>Yes <br>
		<input type="radio" name="answer" value="NO">No <br>
		<input type="radio" name="answer" value="MAYBE">Maybe <br>
		
		Check Boxes: <br>
		<input type="checkbox" name="myChoices" value="SOUP">Soup<br>
		<input type="checkbox" name="myChoices" value="SALAD">Salad<br>
		<input type="submit" value="poop">   <input type="reset"><br>
		Drop Down Menu: <br>
		<select name="phones">
			<option value="iPhone6">iPhone 6</option>
			<option value="GalaxyS6">Galaxy S6</option>
			<option value="GoogleNexus">Google Nexus</option>
		</select><br>
		<textarea name="comments">Comments here</textarea>
</form>


