
header, footer {
	background-color:#666699;
	border-radius: 25px;
	padding: 10px;
	
}

* {
	font-family:sans-serif;
}

#menu {
	background-color: #f74040;
	border-radius: 25px;
}

#main {
	background-color: #f74040;
	border-radius: 25px;
}

#contactMain {
	background-color: #f74040;
	border-radius: 25px;
	padding:10px;
}
