
header, footer {
	background-color:#999;
	border-radius: 25px;
	padding: 8px;
	
	
}


td {
	color:#0d0d0d;
}

a:visited {
    color: #ccc
}

a:hover {
	text-decoration:none !important;
	text-shadow: 1px 1px 1px black;
}



* {
	font-family:sans-serif;
}

#menu {
	background-color: #f74040;
	border-radius: 25px;
	padding: 15px;
}

#main {
	background-color: #f74040;
	border-radius: 25px;
	padding: 20px;
}

#contactMain {
	background-color: #f74040;
	border-radius: 25px;
	padding:10px;
}

#beverages {
	background-color: #a64040;
	border-radius: 25px;
	padding-bottom:25px;
}

.nav-pills  a {
	color: #a64040;
}

.carousel-inner {
	margin:25px;
}

.carousel-indicators {
	height:100%;
}