
a {
	text-decoration: none;
	font-style: italic;
}
a:hover {
	text-decoration: underline;
	background-color:crimson;
}

h3 {
	background-color:gray;
	font-family:'Dosis', sans-serif;
}

#band {
	font-style: italic;
}

* {
	font-family: Arial;
}

#albumart {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/5/5f/RiversintheWasteland.jpg");
	background-repeat: no-repeat;
	background-position: center;

}

img {
	display: block;
	margin: auto;
}

td {
	font-style: italic;
}

table {
	background-color:crimson;
	width:100%; 
	text-align:center;
}
