h3 {
	background-color:gray;
}

#band {
	font-style: italic;
}

* {
	font-family: Arial;
}

#albumart {

}

img {
	display:block;
	margin:auto;
	border-radius:140px;
}

.table {
	table-striped;
	table-hover;
	table-responsive;
}



