
header, footer {
	background-color:#999;
	border-radius: 25px;
	padding: 8px;
	
	
}


td {
	color:#0d0d0d;
}

a:visited {
    color: #111;
}

a:hover {
	text-decoration:none !important;
	text-shadow: 2px 2px 7px #f74040;
	font-weight: bold;
	
}



* {
	font-family:sans-serif;
}

#menu {
	background-color: #f74040;
	border-radius: 25px;
	padding: 15px;
}

#main {
	background-color: #f74040;
	border-radius: 25px;
	padding: 20px;
}

#contactMain {
	background-color: #f74040;
	border-radius: 25px;
	padding:10px;
}

#beverages {
	background-color: #a64040;
	border-radius: 25px;
	padding-bottom:25px;
}
